<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/placewell"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Majorproject"
        tools:targetApi="31">
        <activity
            android:name=".AdminOrderTrackingActivity"
            android:exported="false" />

        <service
            android:name=".WorkerLocationService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <activity
            android:name=".AdminPaymentOrderSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackFormActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPaymentApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerOrderTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".UserNegotiationActivity"
            android:exported="false" />
        <activity
            android:name=".UserRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ManageServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ManageOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ManageWorkersActivity"
            android:exported="false" />
        <activity
            android:name=".ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".AdminOrderTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerBudgetDecisionActivity"
            android:exported="false" />
        <activity
            android:name=".NegotiationActivity"
            android:exported="false" />
        <activity
            android:name=".WorkerListActivity"
            android:exported="false" />
        <activity
            android:name=".UserDashboardActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApfVttqVZ4OK0q2SsXo2TTqpb_cJbK1yU" />
    </application>

</manifest>